/* 
.results {
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  margin-top: 50px;
  justify-content: space-around;
}
input[type="text"] {
  border: solid 1px var(--primary-color);
  padding: 10px;
  border-radius: 8px;
  margin-right: 4px;
  display: inline-block;
  width: 30%;
}
button {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: rgb(36, 2, 2);
  border-radius: 8px;
}
@media (min-width: 500px) and (max-width: 768px) {
  .results {
      grid-template-columns: repeat(2, 1fr);
  }
  input[type="text"] {
      width: 70%;
  }   
}
@media (max-width: 499px) {
  .results {
      grid-template-columns: 1fr;
  }    
} */

.gallery-container {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan a la siguiente línea */
    gap: 16px; /* Espacio entre las tarjetas */
    justify-content: center;
    padding: 20px;
    background-color: #fff; /*f0f0f0*/
}

.photo-card {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
    width: 300px; /* Ancho fijo de la tarjeta */
}

.photo-card img {
    width: 100%; /* La imagen ocupa todo el ancho de la tarjeta */
    height: 200px; /* Altura fija para que las imágenes se vean uniformes */
    object-fit: cover; /* Asegura que la imagen cubra el espacio sin distorsionarse */
    border-radius: 4px;
    margin-bottom: 8px;
}

.photo-card p {
    font-size: 0.9em;
    color: #333;
    margin: 0;
}

h2 {
    text-align: center;
    color: #4CAF50;
    margin-top: 20px;
}